<ion-content class="ion-padding">
  <form class="bmd-form" [formGroup]="signInForm">

    <ion-card-subtitle>
      * Campo obrigatório.
    </ion-card-subtitle>

    <ion-row>
      <ion-col>
        <ion-item class="bmd-form__item">
          <ion-label position="floating">Nome*</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <app-form-field-message *ngIf="isFieldInvalid('name')" [controlErrors]="getControlErrorsList('name')" formFieldName='name'></app-form-field-message>
      </ion-col>
      <ion-col>
        <ion-item class="bmd-form__item">
          <ion-label position="floating">Sobrenome*</ion-label>
          <ion-input formControlName="lastname"></ion-input>
        </ion-item>
        <app-form-field-message *ngIf="isFieldInvalid('lastname')" [controlErrors]="getControlErrorsList('lastname')" formFieldName='lastname'></app-form-field-message>
      </ion-col>
    </ion-row>

    <ion-item class="bmd-form__item">
      <ion-label position="floating">E-mail*</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <app-form-field-message *ngIf="isFieldInvalid('email')" [controlErrors]="getControlErrorsList('email')" formFieldName='email'></app-form-field-message>

    <ion-item class="bmd-form__item">
      <ion-label position="floating">Telefone*</ion-label>
      <ion-input type="tel" formControlName="phone" [brmasker]="{phone: true}"></ion-input>
    </ion-item>
    <app-form-field-message *ngIf="isFieldInvalid('phone')" [controlErrors]="getControlErrorsList('phone')" formFieldName='phone'></app-form-field-message>

    <ion-item class="bmd-form__item">
      <ion-label position="floating">CPF*</ion-label>
      <ion-input type="text" formControlName="cpf" [brmasker]="{mask: '999.999.999-99', type: 'num', len: 14}"></ion-input>
    </ion-item>
    <app-form-field-message *ngIf="isFieldInvalid('cpf')" [controlErrors]="getControlErrorsList('cpf')" formFieldName='cpf'></app-form-field-message>

    <ng-container formGroupName="address">

      <ion-item class="bmd-form__item">
        <ion-label position="floating">CEP*</ion-label>
        <ion-input type="text" formControlName="cep" [brmasker]="{mask: '99999-999', type: 'num', len: 9}"></ion-input>
      </ion-item>
      <app-form-field-message *ngIf="isFieldInvalid('cep')" [controlErrors]="getControlErrorsList('cep')" formFieldName='cep'></app-form-field-message>

      <ion-item class="bmd-form__item">
        <ion-label position="floating">Logadouro*</ion-label>
        <ion-input type="text" formControlName="rua"></ion-input>
      </ion-item>
      <app-form-field-message *ngIf="isFieldInvalid('rua')" [controlErrors]="getControlErrorsList('rua')" formFieldName='rua'></app-form-field-message>

      <ion-row>
        <ion-col size="3">
          <ion-item class="bmd-form__item">
            <ion-label position="floating">Número*</ion-label>
            <ion-input type="text" formControlName="numero"></ion-input>
          </ion-item>
          <app-form-field-message *ngIf="isFieldInvalid('numero')" [controlErrors]="getControlErrorsList('numero')" formFieldName='numero'></app-form-field-message>
        </ion-col>
        <ion-col>
          <ion-item class="bmd-form__item">
            <ion-label position="floating">Complemento</ion-label>
            <ion-input type="text" formControlName="complemento"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item class="bmd-form__item">
        <ion-label position="floating">Ponto de referência</ion-label>
        <ion-input type="text" formControlName="info"></ion-input>
      </ion-item>

      <ion-item class="bmd-form__item">
        <ion-label position="floating">Bairro*</ion-label>
        <ion-input type="text" formControlName="bairro"></ion-input>
      </ion-item>
      <app-form-field-message *ngIf="isFieldInvalid('bairro')" [controlErrors]="getControlErrorsList('bairro')" formFieldName='bairro'></app-form-field-message>

      <ion-row>
        <ion-col size="8">
          <ion-item class="bmd-form__item">
            <ion-label position="floating">Cidade*</ion-label>
            <ion-input type="text" formControlName="cidade"></ion-input>
          </ion-item>
          <app-form-field-message *ngIf="isFieldInvalid('cidade')" [controlErrors]="getControlErrorsList('cidade')" formFieldName='cidade'></app-form-field-message>
        </ion-col>
        <ion-col>
          <ion-item class="bmd-form__item">
            <ion-label position="floating">Estado*</ion-label>
            <ion-input type="text" formControlName="estado"></ion-input>
          </ion-item>
          <app-form-field-message *ngIf="isFieldInvalid('estado')" [controlErrors]="getControlErrorsList('estado')" formFieldName='estado'></app-form-field-message>
        </ion-col>
      </ion-row>

    </ng-container>

    <ion-item class="bmd-form__item">
      <ion-label position="floating">Senha*</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <app-form-field-message *ngIf="isFieldInvalid('password')" [controlErrors]="getControlErrorsList('password')" formFieldName='password'></app-form-field-message>

    <ion-item class="bmd-form__item">
      <ion-label position="floating">Confirme sua senha*</ion-label>
      <ion-input type="password" formControlName="passwordConfirm" [pattern]="signInForm.get('password').value"></ion-input>
    </ion-item>
    <app-form-field-message *ngIf="isFieldInvalid('passwordConfirm')" [controlErrors]="getControlErrorsList('passwordConfirm')" formFieldName='passwordConfirm'></app-form-field-message>

    <ion-button 
      color="tertiary" 
      class="bmd-form__button" 
      [disabled]="signInForm.invalid"
      (click)="setIntroductionOnLocalstorage()">
      Cadastrar
    </ion-button>
    
  </form>

</ion-content>