<ion-content class="wrapper__content ion-padding">
  <form class="wrapper__content__login-form" [formGroup]="loginForm">

    <section class="wrapper__content__login-form__img__wrapper">
      <img 
        src="../../assets/images/auth-icon.png" 
        class="wrapper__content__login-form__img__wrapper__img"
        alt="Logotipo da Bemed">
    </section>

    <ion-item class="wrapper__content__login-form__item">
      <ion-label position="floating">Login</ion-label>
      <ion-input formControlName="login"></ion-input>
    </ion-item>

    <ion-item class="wrapper__content__login-form__item">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button 
      color="tertiary" 
      class="wrapper__content__button" 
      [disabled]="loginForm.invalid"
      (click)="doLogin()">
      Entrar
    </ion-button>
    <ion-button 
      color="danger" 
      fill="outline" 
      class="wrapper__content__button"
      (click)="createAccount()">
      Quero criar uma conta
    </ion-button>
    
  </form>

</ion-content>
