@import 'modules/forms';

.login-form {
  margin-top: 2.5rem;
  &__img {
    margin: 0 auto;
    max-width: 60%;
    padding: 1rem 1rem 5rem;        
  }
  &__forgot-pass {
    display: inline-block;
    margin-top: 1rem;
  }
}

.passwordIcon {
  font-size:2rem;
  position: relative;
  top: 22px;
  margin: 0 auto;
  user-select: none;
}