<ion-header [translucent]="false" class="ion-no-border wrapper__content__header">
  <ion-toolbar class="wrapper__content__header__toolbar">
    <ion-avatar slot="start" class="wrapper__content__header__toolbar__avatar">
      <img class="wrapper__content__header__toolbar__avatar__img" alt="Imagem do usuário"
        src="./../../../../../assets/images/avatar.png">
    </ion-avatar>

    <ion-label class="wrapper__content__header__toolbar__label">
      <h3 class="wrapper__content__header__toolbar__label__title">{{ nome }} {{ sobrenome }}</h3>
      <p class="wrapper__content__header__toolbar__label__subtitle">{{ enderecoCompleto }}</p>
    </ion-label>
  </ion-toolbar>
</ion-header>