@import '../../theme/variables.scss';

.wrapper__content {
  text-align: center;

  &__section {
    padding: 3rem 0 0;

    &__video {
      min-height: 240px;
      width: 100%;
    }
  }

  &__title {
    color: var(--ion-color-step-50);
  }

  &__paragraph {
    padding: 0 1.5rem;
    text-align: justify;
    color: var(--ion-color-step-50);
  }

  &__button {
    width: 100%;
    margin: 0 0 1.5rem;
    padding: 0 1.5rem;
  }
}
