.wrapper__content {
    &__header {
      &__toolbar {
        margin: 1rem 0 1rem;
        padding-bottom: .5rem;
        &__avatar {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }

  .wallet__main {
    padding-top: 2rem;
    text-align: left;
  }